# 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

## Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等
有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？
[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)

In [31]:
import os 
import pandas as pd
import numpy as np

os.getcwd()
os.path.join
dir = '../data/'
data = os.path.join(dir, 'credit_card_balance.csv')
Data = pd.read_csv(data)

## 資料的 row 數以及 column 數

In [20]:
# Data.info() # schema
# Data.describe() # 就是 summay

# Data.size
Data.shape

In [56]:
Data.index.tolist()
df = pd.DataFrame(np.random.randn(5,4), columns = ['A', 'B', 'C', 'D'])
df = df.rename(columns = {'A':'1', 'B':'x1', 'C':'x2', 'D':'x3'})
df['x1'] # series
df[['x1']]
# df.x1
df['new_col'] = range(len(df))
# df['new_col1'] = np.repeat(np.nan.len(df))
df['new_col2'] = np.random.rand(len(df)) - 0.5
df['index_col'] = df.index
df['new_col2'] = df['new_col2'].where(df['new_col2'] > 0, 0)
df['new_col2'].idxmax()  # 最大值的位置
df.reset_index()
# df = df.set_index(keys=['r1','r2','r3', 'r4', 'r5'])

df.sort_values('x1')

          1        x1        x2        x3  new_col  new_col2  index_col
0  1.040343 -1.237109 -0.691349  0.515343        0  0.220780          0
4 -0.102880 -0.400163 -0.288113  0.364237        4  0.000000          4
3  0.338941 -0.232666  1.473888 -0.066624        3  0.298552          3
2 -1.943258  0.977296 -1.189867  2.343639        2  0.000000          2
1 -0.138778  1.051618  0.306177  1.343302        1  0.000000          1

In [70]:
df0 = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]}, index=['a', 'b', 'c'])
# .loc[label] 这是严格基于标签的索引
# .iloc[inte] 这是严格基于整数位置的索引
# df0.ix[0] ix is deprecated
# df0['a']
df0.loc['a']
df0.iloc[:, 1:2] # df0.iloc[:, 'x'] 會錯，因為是純索引

   y
a  3
b  4
c  5

## 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

- 找有空值的欄位
- 統計發生數量（R語言的 table指令
- 時間性質的欄位處理
- 正規表示法的文字處理
- 畫圖