## A、在初步 EDA 的過程，我們無可避免會想問的問題

    - 不同資料類型各有多少個欄位？

    - 類別型欄位 (pandas 中的 object) 的類別數量?

    - 模型怎麼處理類別型的資料？有什麼表示方法？

In [1]:
import os 
import numpy as np
import pandas as pd

In [6]:
# os.getcwd()
f_app_train = os.path.join('..', 'data', 'Part01', 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [9]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
sub_train.head()

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

## 將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [44]:
all_combination = list(set(sub_train['WEEKDAY_APPR_PROCESS_START']))

monday = [1 if item == 'MONDAY' else 0 for item in sub_train['WEEKDAY_APPR_PROCESS_START'].tolist()]
tuesday = [1 if item == 'TUESDAY' else 0 for item in sub_train['WEEKDAY_APPR_PROCESS_START'].tolist()]
wednesday = [1 if item == 'WEDNESDAY' else 0 for item in sub_train['WEEKDAY_APPR_PROCESS_START'].tolist()]
thursday = [1 if item == 'THURSDAY' else 0 for item in sub_train['WEEKDAY_APPR_PROCESS_START'].tolist()]
friday = [1 if item == 'FRIDAY' else 0 for item in sub_train['WEEKDAY_APPR_PROCESS_START'].tolist()]
satursday = [1 if item == 'SATURDAY' else 0 for item in sub_train['WEEKDAY_APPR_PROCESS_START'].tolist()]
sunday = [1 if item == 'SUNDAY' else 0 for item in sub_train['WEEKDAY_APPR_PROCESS_START'].tolist()]

In [43]:
hot_df = pd.DataFrame(dict(zip(all_combination, [sunday, wednesday, satursday, friday, tuesday, monday, thursday])))
hot_df

        SUNDAY  WEDNESDAY  SATURDAY  FRIDAY  TUESDAY  MONDAY  THURSDAY
0            0          1         0       0        0       0         0
1            0          0         0       0        0       1         0
2            0          0         0       0        0       1         0
3            0          1         0       0        0       0         0
4            0          0         0       0        0       0         1
5            0          1         0       0        0       0         0
6            1          0         0       0        0       0         0
7            0          0         0       0        0       1         0
8            0          1         0       0        0       0         0
9            0          0         0       0        0       0         1
10           0          0         1       0        0       0         0
11           0          0         0       1        0       0         0
12           0          0         0       1        0       0         0
13           0          0         0       0        0       0         1
14           0          0         0       0        0       1         0
15           0          0         1       0        0       0         0
16           0          0         0       0        0       0         1
17           0          0         0       0        0       1         0
18           0          0         0       1        0       0         0
19           0          0         0       0        0       1         0
20           0          0         0       1        0       0         0
21           0          0         0       0        0       1         0
22           0          0         0       0        0       0         1
23           0          0         0       1        0       0         0
24           0          0         0       0        0       0         1
25           0          0         1       0        0       0         0
26           0          0         0       0        0       1         0
27           0          0         1       0        0       0         0
28           0          1         0       0        0       0         0
29           0          0         0       0        1       0         0
...        ...        ...       ...     ...      ...     ...       ...
307481       0          0         0       1        0       0         0
307482       0          0         0       0        0       0         1
307483       0          0         0       0        0       1         0
307484       0          0         0       0        0       1         0
307485       0          0         1       0        0       0         0
307486       0          0         1       0        0       0         0
307487       0          1         0       0        0       0         0
307488       0          1         0       0        0       0         0
307489       0          0         0       1        0       0         0
307490       0          0         1       0        0       0         0
307491       0          0         1       0        0       0         0
307492       0          0         0       1        0       0         0
307493       0          0         0       0        0       1         0
307494       0          0         0       0        0       1         0
307495       0          1         0       0        0       0         0
307496       0          0         0       0        0       0         1
307497       0          0         0       0        0       0         1
307498       0          0         0       0        0       1         0
307499       0          0         0       0        1       0         0
307500       0          0         0       1        0       0         0
307501       0          1         0       0        0       0         0
307502       0          0         0       0        0       1         0
307503       0          0         1       0        0       0         0
307504       0          1         0       0        0       0         0
307505       0          0         0       0        0       1         0
307506       0          0         0       0        0       0         1
307507       0          0         0       0        0       1         0
307508       0          0         0       0        0       0         1
307509       0          1         0       0        0       0         0
307510       0          0         0       0        0       0         1

[307511 rows x 7 columns]